#topGraphic {
    background: #20b946;
    font-family: 'Modak', cursive;
    color: #0c73da;
    margin-bottom: 0%;
}

#instructions {
    background: #c98404;
    font-family: 'Modak', cursive;
    color: #0c73da;
    text-align: center;
}

.gameBoard{
    background: #c98404;
    font-family: 'Modak', cursive;
    color: #0c73da;
    text-align: center;
    font-size: 1.2em;
}

body {
    background-image: url("../images/morocco-blue.png");
}

.displayText {
    font-size: 1.4em;
}